{% extends "mathhub/base.html" %}
{% block serchbar %}
{{ form.title }}
{% endblock %}

{% block main %}
<ul class="list-group list-group-flush">
    {% for document in object_list %}
    <li class="card list-group mb-4">
        <div class="d-flex flex-column align-items-center">
            <a class="fw-bolder fs-3" href={{document.pk}}>{{ document.title }}</a>
            <p class="align-self-end">{{document.author}}</p>
        </div>
        <div class="d-flex flex-row justify-content-end">
            <p>作成日:{{ document.created }}</p>
            <p>更新日:{{ document.updated }}</p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}